type dpmservice, domain;
app_domain(dpmservice)
allow dpmservice untrusted_app:file { read getattr };
allow dpmservice platform_app:file { read getattr };
